---
import TextLogo from "./Logos/TextLogo.astro";
import FB from "./Iconos/FB.astro";
import IG from "./Iconos/IG.astro";
import X from "./Iconos/X.astro";
import LN from "./Iconos/LN.astro";
import YT from "./Iconos/YT.astro";

const { content } = Astro.props;

const navItems = content.links.filter(
  (item) => item.name !== "Home" && item.name !== "Inicio"
);
---

<footer class="bg-[#18181B] py-15 md:py-8 px-10">
  <div
    class="flex flex-col xl:flex-row xl:justify-between items-start md:items-center px-0 md:px-[10%] pb-10 gap-8 xl:gap-0"
  >
    <div><TextLogo /></div>
    <nav
      class="flex flex-col items-start md:items-center xl:items-start gap-4 text-[#EAEAFD] w-[200px] order-2 md:order-1"
    >
      {
        navItems.map((link) => (
          <a
            class="text-sm md:text-md"
            href={link.href}
            onClick={(e) => e.preventDefault()}
          >
            {link.name}
          </a>
        ))
      }
    </nav>
    <div class="flex gap-4 order-1 md:order-2">
      <div><FB /></div>
      <div><IG /></div>
      <div><X /></div>
      <div><LN /></div>
      <div><YT /></div>
    </div>
  </div>
  <div
    class="border-t border-[#3A3A3C] flex flex-col md:flex-row md:justify-between md:items-center text-[#EAEAFD] pt-8 gap-5 md:gap-0"
  >
    <p
      set:html={content.copyRight}
      class="text-sm md:text-md md:text-left text-center"
    />
    <div class="md:flex-row md:justify-end gap-4 flex flex-col">
      <p class="text-sm md:text-md md:text-right text-left">
        {content.terms}
      </p>
      <p class="text-sm md:text-md md:text-right text-left">
        {content.policy}
      </p>
    </div>
  </div>
</footer>
